<!-- js placed at the end of the document so the pages load faster -->
<script src="static/assets/js/jquery.js"></script>
<script src="static/assets/js/bootstrap.min.js"></script>
<script src="static/assets/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="static/assets/js/jquery.ui.touch-punch.min.js"></script>
<script class="include" type="text/javascript" src="static/assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="static/assets/js/jquery.scrollTo.min.js"></script>
<script src="static/assets/js/jquery.nicescroll.js" type="text/javascript"></script>

<!--common script for all pages-->
<script src="static/assets/js/common-scripts.js"></script>

<script type="text/javascript">

    $.getJSON("/query_admin", function (data) {
        if (data == null) {
            return
        }
        if (data == 1) {
            $("#new_player_info").show()
            $("#pay_info").show()
            $("#game_mgr_menu").show()
            $("#manager_menu").show()
            $("#miniGame").show();
            $("#opreate_mgr_menu").show();
            $("#opreate_mgr_menu").show();
            console.log("is admin user")
        }else{
            $("#new_player_info").remove()
            $("#pay_info").remove()
            $("#game_mgr_menu").remove()
            $("#game_mgr_sub_menu").remove()
            $("#manager_menu").remove()
            $("#manager_sub_menu").remove()
            $("#opreate_mgr_menu").remove();
            $("#opreate_mgr_sub_menu").remove();
            $("#room_data").remove();
        }
    });
</script>