<!--header start-->
<header class="header black-bg">
  <div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
  </div>
  <!--logo start-->
  <a class="logo"><b>真人赢三张</b></a>
  <!--logo end-->
  <div class="top-menu">
    <ul class="nav pull-right top-menu">
      <li><a class="setpwd" href="/setpwd">修改密码</a></li>
      <li><a class="logout" href="/logout">退出登录</a></li>
    </ul>
  </div>
</header>
<!--header end-->
      
<!--sidebar start-->
<aside>
  <div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><img src="static/img/icon128.png" class="img-circle" width="60"></p>
      <h5 class="centered">真人赢三张</h5>
      <li class="mt">
        <a id="tab_console" href="main">
          <i class="fa fa-dashboard"></i>
          <span>控制台</span>
        </a>
      </li>

      <li class="sub-menu">
        <a id="statistics_menu" href="javascript:;" >
          <i class=" fa fa-bar-chart-o"></i>
          <span>游戏统计</span>
        </a>
        <ul id="statistics_sub_menu" class="sub">
          <li id="synthesize_info"><a href="synthesize_info">综合信息</a></li>
          <li id="new_player_info" style="display:none"><a href="new_player_info">新增用户</a></li>
          <li id="pay_info" style="display:none"><a href="pay_info">充值记录</a></li>
        </ul>
      </li>

      <li class="sub-menu">
        <a id="game_mgr_menu" href="javascript:;"  style="display:none" >
          <i class="fa fa-cogs"></i>
          <span>游戏管理</span>
        </a>
        <ul id="game_mgr_sub_menu" class="sub" style="display:none">
          <li id="player_mgr"><a href="player_mgr">玩家管理</a></li>
          <li id="notify_mgr"><a href="notify_mgr">通知管理</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a id="opreate_mgr_menu" href="javascript:;"  style="display:none" >
          <i class="fa fa-cogs"></i>
          <span>运营统计</span>
        </a>
        <ul id="opreate_mgr_sub_menu" class="sub"  style="display:none">
          <li id="host_mgr"><a href="host_mgr">荷官小费</a></li>
          <li id="slot_mgr"><a href="slot_mgr">一夜暴富</a></li>
          <li id="fee_mgr"><a href="fee_mgr">池底抽水</a></li>
          <li id="charm_mgr"><a href="charm_mgr">魅力值</a></li>
        </ul>
      </li>

      <li class="sub-menu">
        <a id="manager_menu" href="javascript:;"  style="display:none">
          <i class="fa fa-desktop"></i>
          <span>后台管理</span>
        </a>
        <ul id="manager_sub_menu" class="sub">
          <li id="user_mgr"><a href="user_mgr">用户管理</a></li>
        </ul>
      </li>
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->