{{template "base/frame_base.html" .}}
{{define "head"}}
<link rel="stylesheet" href="static/assets/css/morris-0.4.3.min.css">
<link rel="stylesheet" type="text/css" href="static/assets/lineicons/style.css">
<link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap-datetimepicker.min.css" >
{{end}}

{{define "body"}}
<!--main content start-->
<section id="main-content">
  <section class="wrapper site-min-height">
    <div class="row mt">
      <div class="col-md-12">
        <div class="form-panel">
          <h4 class="mb"><i class="fa fa-angle-right"></i> 信息查询</h4>
          <form class="form-inline" role="form">

            <label class="control-label" for="begin_date">起始日期</label>
            <div id="begin_date" class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
              <input id="begin_date_input" class="form-control" size="16" type="text" value="" readonly>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <br><br>

            <label class="control-label" for="end_date">结束日期</label>
            <div id="end_date" class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
              <input id="end_date_input" class="form-control" size="16" type="text" value="" readonly>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <br><br>

            <button id="query_time" type="button" class="btn btn-theme">查询</button>
            <button id="query_last15day" type="button" class="btn btn-theme">过去15天</button>
            <button id="query_last30day" type="button" class="btn btn-theme">过去30天</button>
          </form>
        </div><!-- /form-panel -->

        <div class="row mtbox">
          <div id="data_panel" class="content-panel">
            <table id="data_table" class="table table-hover">
              <h4 id="data_table_title"></h4>
              <hr>
            </table>
          </div><!-- /content-panel -->
          <!-- <div class="centered">
            <hr>
            <button id="table_prve_btn" type="button" class="btn btn-default">上一页</button>
            <span id="table_page_num" class="badge">05 / 10</span>
            <button id="table_next_btn" type="button" class="btn btn-default">下一页</button>
          </div> -->
        </div>
      </div><!-- /col-md-12 -->
    </div><!-- /row -->


  </section><!-- /wrapper -->
</section><!-- /MAIN CONTENT -->
{{end}}

{{define "body_after"}}
<script src="static/js/raphael-min.js"></script>
<script src="static/js/morris-0.4.3.min.js"></script>
<script type="text/javascript" src="static/assets/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="static/assets/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script src="static/js/operate_fee.js"></script>
{{end}}