{{template "base/frame_base.html" .}}
{{define "head"}}
<link rel="stylesheet" href="static/assets/css/morris-0.4.3.min.css">
<link rel="stylesheet" type="text/css" href="static/assets/lineicons/style.css">
{{end}}

{{define "body"}}
<!--main content start-->
<section id="main-content">
  <section class="wrapper site-min-height">
    <!-- INLINE FORM ELELEMNTS -->
    <div class="row mt">
      <div class="col-lg-12">
        <div class="form-panel">
          <h4 class="mb"><i class="fa fa-angle-right"></i> 添加用户</h4>
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="channel">Channel</label>
              <input type="text" class="form-control" id="channel" placeholder="渠道ID">
            </div>
            <div class="form-group">
              <label class="sr-only" for="Mark">渠道说明</label>
              <input type="text" class="form-control" id="mark" placeholder="渠道说明">
            </div>
            <div class="form-group">
              <label class="sr-only" for="username">UserName</label>
              <input type="text" class="form-control" id="username" placeholder="用户名">
            </div>
            <div class="form-group">
              <label class="sr-only" for="userpwd">UserName</label>
              <input type="text" class="form-control" id="userpwd" placeholder="密码">
            </div>
            <button id="add_user_button" type="button" class="btn btn-theme">添加</button>
          </form>
        </div><!-- /form-panel -->
      </div><!-- /col-lg-12 -->
    </div><!-- /row -->

    <div class="row mtbox">
      <div id="data_panel" class="content-panel">
        <table id="data_table" class="table table-hover">
          <h4 id="data_table_title"></h4>
          <hr>
        </table>
      </div><!-- /content-panel -->
    </div>
  </section><!-- /wrapper -->
</section><!-- /MAIN CONTENT -->
{{end}}

{{define "body_after"}}
   <script src="static/js/raphael-min.js"></script>
   <script src="static/js/morris-0.4.3.min.js"></script>
<script src="static/assets/js/layer/layer.min.js"></script>
<script src="static/js/user_mgr.js"></script>
{{end}}